<mat-card class="card card_">
  <mat-card-header>
    <mat-card-title> Currency RUB </mat-card-title>
    <mat-card-subtitle>
      <p>{{ today | date : "fullDate" }} {{ now | date : "HH:mm:ss" }}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let currency of this.Currencies">
      <ng-container *ngIf="currency.isShowed">
        <div [ngStyle]="{ display: 'flex' }">
          "{{ currency.title }}-"
          <b>{{ currency.valueInRub }}</b>
          <div *ngIf="currency.sign; then arrowUp; else arrowDown"></div>
          <ng-template #arrowUp><mat-icon>arrow_drop_up</mat-icon></ng-template>
          <ng-template #arrowDown
            ><mat-icon>arrow_drop_down</mat-icon></ng-template
          >
          ({{ currency.changeValue.toFixed(4) }})
        </div>
      </ng-container>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions align="start">
    <button mat-button [matMenuTriggerFor]="menu">
      Add currency
      <mat-icon>add_circle_outline</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setNewCurrency('CNY')">add CNY</button>
        <button mat-menu-item (click)="setNewCurrency('JPY')">add JPY</button>
        <button mat-menu-item (click)="setNewCurrency('TRY')">add TRY</button>
      </mat-menu>
    </button>
  </mat-card-actions>
</mat-card>
